
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<button type="button" class="btn btn-outline-primary demo" onclick="clickEducation()">Education</button> <br />
<button type="button" class="btn btn-outline-primary demo" onclick="clickExperience()">Experience</button> <br />
<button type="button" class="btn btn-outline-primary demo" onclick="clickSkill()">Skills</button> <br />
<button type="button" class="btn btn-outline-primary demo" onclick="clickHobbies()">Hobbies</button>

