
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="container">
    <form action="#">
        <div class="field input-field">
            <input type="text" required>
            <label>First Name</label>
        </div>
        <div class="field input-field">
            <input type="text" required>
            <label>Last Name</label>
        </div>
        <div class="field input-field">
            <input type="email" required>
            <label>Email id</label>
        </div>
        <div class="field input-field">
            <input type="number" required>
            <label>Phone No</label>
        </div>
        <div class="field button-field">
            <button>Register</button>
        </div>
    </form>
</div>

